.search-detail
  .search-detail__wrapper
    .search-detail__header
      .search-detail__header-index.clearfix
        %ul.top-navi
          %li
            = link_to "Filmarks映画情報", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            映画賞・映画祭
      .search-detail__header-title
        %p.title__heading 映画賞・映画祭一覧
        %p.title__heading-sub
          アカデミー賞、日本アカデミー賞、ゴールデングローブ賞、東京国際映画祭、世界三大映画祭（カンヌ国際映画祭・ヴェネチア国際映画祭・ベルリン国際映画祭）、サンダンス国際映画祭、トロント国際映画際など、世界各国の映画賞・映画祭の受賞作品を受賞歴や各部門から探せます。
    .search-detail__body
      .search-detail__body-main.clearfix
