.movie-list
  .movie-list__wrapper
    .movie-list__header
      .movie-list__header-index.clearfix
        %ul.top-navi
          %li= link_to "Filmarks映画情報", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li= link_to "映画作品を探す", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            上映中の最新映画作品
      .movie-list__header-title
        上映中の最新映画
      .movie-list__header-info
        今上映中の最新映画作品おすすめ人気ランキング。公開日、作品情報、上映時間、レビュー・感想・評価をチェックできます。

    .movie-list__body
      .movie-list__body-main.clearfix
        =render partial: "lists_sidebar"
        =render partial: "lists_content"
