.movie-list
  .movie-list__wrapper
    .movie-list__header
      .movie-list__header-index.clearfix
        %ul.top-navi
          %li= link_to "Filmarks映画情報", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li= link_to "映画作品を探す", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            今週公開の映画作品
      .movie-list__header-title
        今週公開の映画
      .movie-list__header-info
        今週末に公開・上映開始される新作映画作品。

    .movie-list__body
      .movie-list__body-main.clearfix
        =render partial: "lists_sidebar"
        =render partial: "lists_content"
