.movie-list
  .movie-list__wrapper
    .movie-list__header
      .movie-list__header-index.clearfix
        %ul.top-navi
          %li= link_to "Filmarks映画情報", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li= link_to "映画作品を探す", root_path
          %li
            &nbsp;>&nbsp;&nbsp;
          %li
            公開予定の映画作品
      .movie-list__header-title
        公開予定の映画
      .movie-list__header-info
        近日公開予定・上映予定の最新映画作品。2018年2月公開予定映画の作品情報、あらすじ、感想・評価・レビューをチェック。

    .movie-list__body
      .movie-list__body-main.clearfix
        =render partial: "lists_sidebar"
        =render partial: "lists_content"
