.timeline {
  background-color: #FAFAFA;

  .timeline-header {
    background-color: white;
    height: 80px;
    border-bottom: solid 1px LightGrey;

    & h1 {
      text-align: center;
      font-size: 26px;
      font-weight: 900;
      color: #151515;
      line-height: 80px;
    }
  }

  .timeline-contents__wrapper.clearfix {
    width: 1000px;
    margin: 0 auto;

    .timeline__main-contents {
      background-color: #A9F5E1;
      width: 640px;
      height: 1500px;
      float: left;
    }
    .timeline__side-bar{
      background-color: #F3E2A9;
      width: 320px;
      height: 1500px;
      margin-left: 40px;
      float: left;
    }
  }
}
