.movie-detail {
  z-index: 3;

  &__wrapper {
    width: 1000px;
    margin: 0 auto;

    a {
      text-decoration: none;
    }

    .movie-detail__header {
      height: 18px;
      padding: 16px 0px;
      font-size: 14px;

      li {
        list-style: none;
        display: inline-block;
      }
    }

    .movie-detail__body {
      margin: 0 auto;

      a:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      .movie-detail__left {
        width: 260px;
        float: left;

        .movie-actions {

          // a.post-review-btn:hover { opacity: 0.8 }
          .post-review-btn {
            background-color: #fef298;
            color: #1C1C1C;
            width: 129px;
            height: 65px;
            margin-right: 1px;
            border-radius: 4px;
            text-align:center;
            cursor: pointer;
            float: left;

            .fa-pencil {
              margin-top: 5px;
            }
          }

          .review-background {
            background-color: white;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 10;
          }

          .review-window {
            background-color: #eee;
            border: solid 1px #BDBDBD;
            width: 620px;
            height: 666px;
            margin-top: -340px;
            margin-left: -310px;
            top: 50%;
            left: 50%;
            box-shadow: 0 3px 8px gray;
            position: fixed;
            z-index: 11;

            .review-textarea {
              background-color: #fafafa;
              width: 548px;
              border: 1px solid #ddd;
              padding: 15px;
              resize: none;
              // outline: 2px #04B431 solid;
              overflow: scroll;
            }
            .review-textarea:focus {
              outline: 0;
              border-color: #04B431;
            }
            .review-editer__header {
              background-color: #ffe100;
              width: 620px;
              height: 60px;
              font-size: 26px;
              font-weight: 900;
              text-align: center;
              line-height: 60px;
            }
            .review-editer__score {
              background-color: #555;
              color: white;
              width: 560px;
              height: 40px;
              padding: 10px 30px;

              .review-editer__score-rate {
                color: #ffe100;
                width: 50px;
                height: 40px;
                font-size: 32px;
                text-align: center;
                line-height: 40px;
                float: left;
              }
              .review-editer__score-slider {
                float: left;
                width: 410px;
                margin: 12.5px 50px;
              }
            }
            .review-editer__input-wrapper {
              height: 256px;
              padding: 20px 20px 0px 20px;

              .review-editer__review-input {
                height: 218px;
              }
            }
            .review-editer__tags-wrapper {
              height: 64px;
              padding: 20px;

              .review-editer__tags-input {
                height: 24px;
              }
            }
            .review-editer__bottons-secondary {
              background-color: #fff;
              width: 580px;
              height: 38px;
              padding: 20px;
              border-top: 1px #BDBDBD solid;
              border-bottom: 1px #BDBDBD solid;

              .review-editer__secret-wrapper {
                width: 300px;
                height: 36px;

                .review-editer__secret-botton {
                  background-color: #eee;
                  color: DimGray;
                  width: 50px;
                  height: 30px;
                  font-size: 10px;
                  padding: 3px 0px;
                  text-align: center;
                  border-radius: 5px;
                  // display: inline-block;
                  float: left;

                  .fa-warning {
                    font-size: 18px;
                  }
                }
                .review-editer__secret-note {
                  color: red;
                  position: relative;
                  top: 0;
                  left: 0;
                  font-size: 12px;
                  width: 204px;
                  height: 36px;
                  margin-left: 10px;
                  // display: inline-block;
                  float: left;
                }
              }
            }
            .review-editer__bottons-primary {
              background-color: #eee;
              padding: 20px;
              width: 580px;
              height: 50px;

              .review-editer__botton--post {
                background-color: #00c4a5;
                color: #fff;
                display: block;
                width: 150px;
                height: 50px;
                border-radius: 5px;
                line-height: 50px;
                text-align: center;
                float: right;
              }
              // .review-editer__botton--delete {}
              // .review-editer__botton--update {}
            }
          }

          .clip-movie-btn {
            background-color: #ffe100;
            color: #1C1C1C;
            width: 129px;
            height: 65px;
            margin-left: 1px;
            border-radius: 4px;
            text-align:center;
            cursor: pointer;
            float: left;

            .fa-paperclip {
              margin-top: 5px;
            }
          }
        }

        .movie-detail__links--youtube {
          font-size: 15px;
          margin: 15px 0px ;
          & a {
            color: DimGray;
          }

          .youtube-icon {
            font-size: 20px;
          }
        }
        .sns-links {
          .tweeter-share-button {
            padding-top: 5px;
          }
        }
      }

      .movie-detail__main {
        width: 700px;
        padding-left: 40px;
        float: left;

        .movie-detail__title span {
          font-size: 24px;
          font-weight: 900px;
        }

        .movie-detail__other-info {
          margin-top: 10px;
          font-size: 12px;
          & ul li {
            list-style: none;
            display: inline-block;
          }
        }
        .movie-detail__genre {
          margin-top :3px;
          font-size: 12px;

          & h3, ul {
            display: inline-block;
          }

          & ul li {
            list-style: none;
            display: inline-block;
          }
        }
        .movie-detail__review-rate {
          width: 150px;
          height: 30px;
          margin-top: 20px;
        }
        .movie-detail__story {
          height: 130px;
          margin-top: 20px;

          &-term {
            margin: 25px 0px 5px 0px;
            font-weight: 900;

          }
          &-body {
            font-size: 14px;
          }
        }
        .movie-detail__people-list {
          padding-top: 20px;

          h3 {
            font-size: 14px;
            font-weight: 900;
            margin: 6px 0px;
          }

          .member-label {
            font-size: 12px;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #eee;
            color: black;
            margin: 0px 10px 10px 0px;
          }

          .movie-detail__people-list-others__wrapper {

            .movie-detail__people-list-others {
              margin-right: 20px;
              display: inline-block;
            }
            .movie-detail__people-list-casts {
              margin-right: 20px;
              display: inline-block;
            }
          }
        }
        .movie-detail__trailer {
          margin: 10px 0px;
        }
      }
    }

    // .movie-detail__low-content {
    //   background-color: Plum;
    //   height: 1000px;

    //   .review-timeline{
    //   }
    //   .side-content{
    //   }
    // }
  }
}

