.review-background {
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
}

.review-window {
  background-color: #eee;
  border: solid 1px #BDBDBD;
  width: 620px;
  height: 666px;
  margin-top: -340px;
  margin-left: -310px;
  top: 50%;
  left: 50%;
  box-shadow: 0 3px 8px gray;
  position: fixed;
  z-index: 11;

  .review-textarea {
    background-color: #fafafa;
    width: 548px;
    border: 1px solid #ddd;
    padding: 15px;
    resize: none;
    overflow: scroll;
  }
  .review-textarea:focus {
    outline: 0;
    border-color: #04B431;
  }
  .review-editer__header {
    background-color: #ffe100;
    width: 620px;
    height: 60px;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    line-height: 60px;
  }
  .review-editer__score {
    background-color: #555;
    color: white;
    width: 560px;
    height: 40px;
    padding: 10px 30px;

    .review-editer__score-rate {
      color: #ffe100;
      width: 50px;
      height: 40px;
      font-size: 32px;
      text-align: center;
      line-height: 40px;
      float: left;
    }
    .review-editer__score-slider {
      float: left;
      width: 410px;
      margin: 12.5px 50px;
    }
  }
  .review-editer__input-wrapper {
    height: 256px;
    padding: 20px 20px 0px 20px;

    .review-editer__review-input {
      height: 218px;
    }
  }
  .review-editer__tags-wrapper {
    height: 64px;
    padding: 20px;

    .review-editer__tags-input {
      height: 24px;
    }
  }
  .review-editer__bottons-secondary {
    background-color: #fff;
    width: 580px;
    height: 38px;
    padding: 20px;
    border-top: 1px #BDBDBD solid;
    border-bottom: 1px #BDBDBD solid;

    .review-editer__status-wrapper {
      width: 300px;
      height: 36px;

      .review-editer__status-botton {
        background-color: #eee;
        color: Dimgray;
        width: 50px;
        height: 30px;
        font-size: 10px;
        padding: 3px 0px;
        text-align: center;
        border-radius: 5px;
        float: left;

        .fa-warning {
          font-size: 18px;
        }
      }
      .review-editer__secret-note {
        color: red;
        position: relative;
        top: 0;
        left: 0;
        font-size: 12px;
        width: 204px;
        height: 36px;
        margin-left: 10px;
        float: left;
      }
    }
  }
  .review-editer__bottons-primary {
    background-color: #eee;
    padding: 20px;
    width: 580px;
    height: 50px;

    .review-editer__botton--post {
      background-color: #00c4a5;
      color: #fff;
      display: block;
      width: 150px;
      height: 50px;
      border-radius: 5px;
      line-height: 50px;
      text-align: center;
      float: right;
    }
    // .review-editer__botton--delete {}
    // .review-editer__botton--update {}
  }
}
