$maxWidth: 160px;
$starUnit: $maxWidth / 50;
$starHeight: 30px;

.review-rate-ave {
  position: relative;
  color: #ffa500;
  font-size: 30px;
  font-weight: 900;
  margin-left: 10px;
  bottom: 3px;
}

.rate {
  position: relative;
  display: inline-block;
  width: $maxWidth;
  height: $starHeight;
  font-size: $starHeight;
  &:before, &:after {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    height: $starHeight;
    line-height: $starHeight;
  }
  &:before {
    color: #ddd;
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
    letter-spacing: 5px;
  }
  &:after {
    color: #ffa500;
    overflow: hidden;
    white-space: nowrap;
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
    letter-spacing: 5px;
  }
}

@for $i from 0 through 50 {
  .rate-#{$i}:after {
    width: $starUnit * $i;
  }
}
