$maxWidthSmall: 75px;
$starUnitSmall: 1.45px;
$starHeightSmall: 15px;

.user-review-rate-ave {
  position: relative;
  color: #ffa500;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

.user-rate {
  position: relative;
  display: inline-block;
  width: $maxWidthSmall;
  height: $starHeightSmall;
  font-size: $starHeightSmall;
  &:before, &:after {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    height: $starHeightSmall;
    line-height: $starHeightSmall;
  }
  &:before {
    color: #ddd;
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
    letter-spacing: 2px;
  }
  &:after {
    color: #ffa500;
    overflow: hidden;
    white-space: nowrap;
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
    letter-spacing: 2px;
  }
}

@for $i from 0 through 50 {
  .user-rate-#{$i}:after {
    width: $starUnitSmall * $i;
  }
}
