html, body {
  height: 100%;
  width: 100%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

a { text-decoration: none; }
a:link { color: #00c4a5; }
a:visited { color: #00c4a5; }
a:hover { color: #00c4a5; }
a:active { color: #00c4a5; }
