.review-content__wrapper.clearfix
  .review-content__body
    .review-content__header
      .review-content__header-title
        =fa_icon "user"
        「#{movie.title}」に投稿された感想・評価
      .review-content__header-status
        %ul.review-content__header-status__list
          %li=link_to "全ての感想・評価"
          %li=link_to "ネタバレなし"
          %li=link_to "ネタバレ"
    .review-content__main
      -if reviews.length == 0
        %span この映画にはまだレビューが投稿されていません。
      -reviews.each do |review|
        =render partial: "reviews/reviews_list", locals: {review: review}
    -if all_reviews.length > 5
      .review-content__pagenate
        =paginate(reviews)
  .review-content__side
    =render partial: "reviews/recommend_movies"
