-# %form.post_review_form
-form_for @review, http: {class: "post_review_form"} do |f|
  .review-background
  .review-window
    .review-editer__header レビュー
    .review-editer__score.clearfix
      .review-editer__score-rate -
      -# %input.review-editer__score-slider{max: "9", min: "9", name: "review[score]", step: "1", type: "range"}/
      =f.range_field :score, in: "9..9", step: "1", class: "review-editer__score-slider"
    .review-editer__input-wrapper
      -# %textarea.review-editer__review-input.review-textarea{name: "review[comment]", placeholder:  "レビューを入力"}
      =f.text_area :comment, placeholder: "レビューを入力", class: "review-editer__review-input review-textarea"
    .review-editer__tags-wrapper
      -# %textarea.review-editer__tags-input.review-textarea{name: "tags[name]", placeholder: "# タグを入力"}
      -f.fields_for :tag do |tag_form|
        =tag_form.text_area :name, placeholder: "# タグを入力", class: "review-editer__tags-input review-textarea"
    .review-editer__bottons-secondary
      .review-editer__status-wrapper
        -# %input.review-status{name: "review[status]", type: "hidden", value: "0"}/
        =f.hidden_field :status, value: "0", class: "review-status"
        %a.review-editer__status-botton.gray-botton
          %i.fa.fa-warning
          %p ネタバレ
        %p.review-editer__secret-note
          レビューが映画の内容のネタバレに
          %br/
          あたる場合はチェックしてください。
    .review-editer__bottons-primary
      -# %a.review-editer__botton--post{href: "#"} 投稿
      =f.submit "投稿", class: "review-editer__botton--post"
