.l-footer
  .l-footer__inner
    .l-footer__inner-links
      %h5 Filmarks
      %ul
        %li.l-footer__inner-links__item
          %a{href: "https://filmaga.filmarks.com"} FILMAGA（フィルマガ）
        %li.l-footer__inner-links__item
          %a{href: "https://www.facebook.com/filmarks"} 公式Facebook
        %li.l-footer__inner-links__item
          %a{href: "https://twitter.com/Filmarks"} 公式Twitter
    .l-footer__inner-links
      %h5 映画を探す
      .l-footer__inner-links__items-left
        %ul
          %li.l-footer__inner-links__item
            %a{href: "/list/now"} 上映中の映画を探す
          %li.l-footer__inner-links__item
            %a{href: "/list/coming"} 公開予定の映画を探す
          %li.l-footer__inner-links__item
            %a{href: "/list/upcoming"} 今週公開の映画を探す
          %li.l-footer__inner-links__item
            %a{href: "/list/trend"} 今話題のおすすめ映画を探す
          %li.l-footer__inner-links__item
            %a{href: "/list/rental_now"} 新作レンタル映画を探す

      .l-footer__inner-links__items-right
        %ul
          %li.l-footer__inner-links__item
            %a{href: "/list/rental_coming"} レンタル予定の映画を探す
          %li.l-footer__inner-links__item
            %a{href: "/list/award"} 映画賞から探す
          %li.l-footer__inner-links__item
            %a{href: "/list/year"} 製作年から探す
          %li.l-footer__inner-links__item
            %a{href: "/list/country"} 製作国から探す
          %li.l-footer__inner-links__item
            %a{href: "/list/genre"} ジャンルで探す
    .l-footer__inner-links
      %h5 ヘルプ
      %ul
        %li.l-footer__inner-links__item
          %a{href: "https://filmaga.filmarks.com"} 基本操作
        %li.l-footer__inner-links__item
          %a{href: "https://www.facebook.com/filmarks"} Filmarksの楽しみ方
        %li.l-footer__inner-links__item
          %a{href: "https://twitter.com/Filmarks"} よくある質問
    .l-footer__inner-links
      %h5 企業情報
      %ul
        %li.l-footer__inner-links__item
          %a{href: "https://filmaga.filmarks.com"} 運営会社
        %li.l-footer__inner-links__item
          %a{href: "https://www.facebook.com/filmarks"} プライバシーポリシー
        %li.l-footer__inner-links__item
          %a{href: "https://twitter.com/Filmarks"} 利用規約
        %li.l-footer__inner-links__item
          %a{href: "https://twitter.com/Filmarks"} お問い合わせ
        %li.l-footer__inner-links__item
          %a{href: "https://twitter.com/Filmarks"} 媒体資料・広告掲載のお問い合わせ
    .l-footer__inner-links
      .l-footer__inner-links-counter
        %span.l-footer__inner-links-counter__count 1000000
        %span.l-footer__inner-links-counter__unit Marks

      .l-footer-links__share-buttons
        .l-footer-links__share-button
          .fb-like{"data-action": "like", "data-layout": "button_count", "data-share": "false", "data-show-faces": "false"}
        .l-footer-links__share-button
          %a.twitter-share-button{"data-lang": "ja", "data-text": "映画の感想・レビュー Filmarks", "data-url": "https://filmarks.com/", "data-via": "filmarks", href: "https://twitter.com/share"} ツイート
        .l-footer-links__share-button
          %span
          .line-it-button{"data-lang": "ja", "data-type": "share-a", style: "display: none;"}
          %script{async: "async", defer: "defer", src: "//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js", type: "text/javascript"}
        .l-footer-links__share-button
          .g-plusone{"data-size": "medium"}

        .l-footer-links__share-button
          %a.hatena-bookmark-button{"data-hatena-bookmark-layout": "simple-balloon", href: "http://b.hatena.ne.jp/entry/", title: "このエントリーをはてなブックマークに追加"}
            %img{alt: "このエントリーをはてなブックマークに追加", height: "20", src: "https://b.st-hatena.com/images/entry-button/button-only@2x.png", style: "border: none;", width: "20"}/
          %script{async: "async", charset: "utf-8", src: "https://b.st-hatena.com/js/bookmark_button.js", type: "text/javascript"}
.l-footer-copyright
  %p
    %small © TSUMIKI INC. ALL RIGHTS RESERVED.
